/* backgroud color */
h1 {
    color: red;
}

#exclusive-title {
    background-color: aqua;
    color: coral;
}

/* HEX */
.simple-hex {
    color: #777
}

.simple-hex-2 {
    color: #a5f
}

/* RGB Mixed */
.rgb {
    color: rgb(155, 75, 86)
}

/* RGBA */
.rgba {
    color: rgba(165, 78, 180, 0.4)
}

/* HSL */
.hsl {
    color: hsl(70, 50%, 20%)
}

/*Backgroud Opacity*/
.bg-opacity {
    background-color: green;
    color: yellow;
    opacity: 0.2;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(190, 20, 120, 0.2);
    color: black;
}

/* bg image */
.bg-image {
    background-image: url("../img/Paisagem-1.jpg");
    color: rgb(152, 152, 152);
}

/* centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/Paisagem-1.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Heigth and width */
.height-width {
    height: 200px;
    width: 100px;
    background-color: #888;
}

.height-width2 {
    height: 300px;
    background-color: #aaa;
}

/* padding */
.withoutpadding,
.withpadding {
    background-color: #111;
    color: #fff;
}

.withpadding {
    background-color: #ccc;
    padding: 20px;
}

/* tambem exite paddings individuais para que voce possa modelar da sua fomra como padding-top e etc */

/* Shorthand padding */
.shorthand-padding {
    background-color: aquamarine;
    padding: 6px 12px 18px 24px;
}

/* borda arredondada  */
.borda-arredondada {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

/* margem */
.margin {
    margin: 10px;
    background-color: #666;
}

/* box model */
.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    width: 200px;
    height: 300px;
}

/* text alignment */
.text-alignment {
    text-align: right;
}

.text-align {
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* text decoration */
.underlin {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: red;
}

/* letter spacing */
.spacing {
    letter-spacing: 5px;
}

/* fonte */
.serif {
    font-family: Georgia;

}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: monospace;
}

.cusive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* text style */
.ialic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}
/* Fonte Weight */
.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

/* font size */
.font-size{
    font-size: 50px;
}

/* display */
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #5d8;
    margin: 10px;
    display: inline-block;
}
.block{
    background-color: #333;
    display: block;
    margin: 10px;
}

/* escondendo elementos */

.invisible{
    display: none;
}

/* static */
.static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}